<footer class="site-footer">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 ">
          <span>
            <small>
              {{ .Site.Copyright | safeHTML }}. Site <a href="https://gitlab.com/ajiro/ajiro.fr/blob/master/content/{{ .File.Path }}">généré</a> le {{ now | dateFormat "2 Jan 2006 à 15:04" }}.
            </small>
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
